<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>Vue.js学习,1-4章</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <span>《Vue.js实战》中的示例代码</span>
    <hr/>
    <div id="app">
      <ul>
        <li v-for="book in books">{{ book.name }}</li>
      </ul>
      <hr/>
      <input type="text" v-model="pmsg" placeholder="输入任意内容" class="form-control">
      <h1 class="display-1">{{ pmsg }}</h1>
      <hr/>
      <span>{{ link }}</span>
      <hr/>
      <span>new Date()的生肉时间信息：{{ date }}</span>
      <hr/>
      <span>经过过滤器格式化后的时间信息：{{ date | formatDate(date)}}</span>
      <hr/>
      <span>计算属性获取的时间：{{ now }}</span>
      <hr/>
      <span v-html="link"></span>
      <hr/>
      <span>使用v-pre属性使Vue不渲染该标签及其子类：</span>
      <br/>
      <span v-pre>{{ link }}</span>
      <hr/>
      <span>使用v-bind绑定一个数据到href属性：</span>
      <br/>
      <a v-bind:href="url">{{ aname }}</a>
      <br/>
      <button class="btn-danger btn-sm" v-on:click="changeurl">{{ switcher }}</button>
      <hr/>
      <span>使用v-on绑定时间监听器click：</span>
      <button v-on:click="handleShow" class="btn btn-primary btn-sm">点击切换隐藏/显示下边的文本</button>
      <br/>
      <span>使用内联语句：</span>
      <button v-on:click="show = !show" class="btn btn-success btn-sm">点击切换隐藏/显示下边的文本</button>
      <br/>
      <span>通过调用在methods里的方法：</span>
      <button class="btn btn-outline-primary btn-sm" v-on:click="handleClick">点击切换隐藏/显示下边的文本</button>
      <br/>
      <span class="display-1" v-if="show">这段文本将被隐藏</span>
      <hr/>
      <span>原始：{{ text }}</span>
      <br/>
      <span>内联语句处理：{{ text.split(',').reverse().join(',') }}</span>
      <br/>
      <span>计算属性处理：{{ reversedText }}</span>
      <hr/>
      <span>使用计算属性给元素动态设置类名：</span>
      <br/>
      <button class="btn btn-primary" @click="handleButton">更改下边按钮样式</button>
      <br/>
      <button :class="[btnstyle, btnsize]">{{ btnstyle }}&nbsp;{{ btnsize }}</button>
      <hr/>
      <span>使用计算属性给元素动态设置内联样式：</span>
      <div :style="styles">预览</div>
    </div>
    <script src="js/vue.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          books: [
            { name: '《C语言程序设计》' },
            { name: '《Vue.js实战》'}
          ],
          pmsg: '',
          link: '<a href="#">TOP</a>',
          date: new Date(),
          aname: '百度',
          switcher: '切换为谷歌',
          url: 'https://www.baidu.com/',
          show: false,
          text: '123,456,789',
          btnCount: 0,
          styles: {
            fontSize: 30 + 'px'
          }
        },
        filters: {
          formatDate: function (value) {
            var date = new Date(value);
            var year = date.getFullYear();
            var month = date.getMonth();
            var day = date.getDate();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            var ms = date.getMilliseconds();
            return year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' + seconds + ':' + ms;
          }
        },
        created: function () {
          console.log("生命周期钩子:created(Vue实例创建完成后调用)");
        },
        mounted: function () {
          console.log("生命周期钩子:mounted(el挂载到实例上后调用)");
          var p = this;
          this.timer = setInterval(function () {
            p.date = new Date();
          }, 90);
        },
        beforeDestroy: function () {
          console.log("生命周期钩子:beforeDestroy(Vue实例销毁前调用)");
          if (this.timer) {
            clearInterval(this.timer);
          }
        },
        methods: {
          handleShow: function () {
            this.show = !this.show;
          },
          handleClick: function () {
            this.close();
          },
          close: function () {
            this.show = !this.show;
          },
          changeurl: function () {
            this.url = 'https://www.google.cn/';
            this.aname = '谷歌';
          },
          handleButton: function () {
            this.btnCount = this.btnCount + 1;
          }
        },
        computed: {
          reversedText: function () {
            return this.text.split(',').reverse().join(',');
          },
          now: function () {
            return Date.now();
          },
          btnsize: function () {
            switch (this.btnCount % 4) {
              case 0:
                return 'btn-xs';
              case 1:
                return 'btn-sm';
              case 2:
                return '';
              case 3:
                return 'btn-lg';
            }
          },
          btnstyle: function () {
            switch (this.btnCount % 14) {
              case 0:
                return 'btn btn-outline-secondary';
              case 1:
                return 'btn btn-outline-primary';
              case 2:
                return 'btn btn-outline-success';
              case 3:
                return 'btn btn-outline-info';
              case 4:
                return 'btn btn-outline-warning';
              case 5:
                return 'btn btn-outline-danger';
              case 6:
                return 'btn btn-outline-link';
              case 7:
                return 'btn btn-secondary';
              case 8:
                return 'btn btn-primary';
              case 9:
                return 'btn btn-success';
              case 10:
                return 'btn btn-info';
              case 11:
                return 'btn btn-warning';
              case 12:
                return 'btn btn-danger';
              case 13:
                return 'btn btn-link';
            }
          }
        }
      });
    </script>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
